<ion-header>
  <ion-toolbar>
    <ion-title>UMES User Albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
      <h1>Usuarios</h1>
        <ion-text color="medium"><p>Explora las colecciones de fotografías de cada usuario.</p></ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-input label="Buscar usuario" label-placement="stacked" fill="outline" placeholder="Nombre, usuario o correo" [(ngModel)]="searchTerm" clearInput></ion-input>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="loading">
      <ion-col size="12" class="ion-text-center"><ion-spinner name="crescent"></ion-spinner><p>Cargando usuarios...</p></ion-col>
    </ion-row>
    <ion-row *ngIf="error">
      <ion-col size="12" class="ion-text-center"><ion-icon name="alert-circle-outline"></ion-icon><p>No se pudieron cargar los usuarios.</p></ion-col>
    </ion-row>
    <ion-row *ngIf="!loading && !error && !filteredUsers.length">
      <ion-col size="12" class="ion-text-center"><ion-icon name="people-outline"></ion-icon><p>No hay usuarios que coincidan con la búsqueda.</p></ion-col>
    </ion-row>
    <ion-row *ngIf="!loading && !error">
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let user of filteredUsers">
        <app-detailusers [user]="user" (albumsSelected)="viewAlbums($event)"></app-detailusers>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
